<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wdd.app.android.interestcollection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.InterestCollectionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.welcome.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.activity.MainActivity" />
        <activity android:name=".ui.settings.activity.SettingsActivity" />
        <activity android:name=".ui.settings.activity.AboutUsActivity" />
        <activity android:name=".ui.settings.activity.AboutActivity" />
        <activity android:name=".ui.settings.activity.AboutAppActivity" />
        <activity android:name=".ui.web.activity.WebActivity" />
        <activity android:name=".ui.gallery.activity.ImageBrowserActivity" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ae817e734be42d33000c0a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".ui.jokes.activity.DirtyJokeDetailActivity" />
        <activity android:name=".ui.images.activity.ImageDetailActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.videos.activity.VideoDetailActivity" />
        <activity android:name=".ui.audios.activity.AudioDetailActivity" />
        <activity android:name=".ui.shares.activity.ShareDetailActivity"></activity>
    </application>

</manifest>